<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/perfilPhoto.jpg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">
      <b>{{ persona.nombre }} {{ persona.apellido }}</b>
    </p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        dignissimos explicabo impedit officia sed voluptate nostrum
        exercitationem laboriosam, rerum omnis repellendus ullam provident atque
        maxime ad est? Amet culpa, magni odit voluptatem aperiam nisi nesciunt
        laboriosam delectus temporibus quos, vel quibusdam minus animi inventore
        illum consequuntur consectetur minima! Saepe sapiente dicta ea quisquam
        sit odio reprehenderit veniam dolor veritatis animi, velit at numquam
        soluta quidem facilis laboriosam debitis maiores similique. Fuga cumque,
        provident exercitationem, ipsum sit inventore voluptatem minima, harum
        temporibus quae laborum placeat ullam omnis quisquam eligendi. Deleniti
        praesentium quis natus debitis cumque! Repudiandae perspiciatis maxime
        eius laborum labore, quis illum dolores aspernatur. Reiciendis, sequi
        temporibus dolore magnam minus alias voluptates inventore at laborum
        modi provident nobis atque nisi soluta cumque in quam! Quam praesentium
        magni consequatur libero distinctio repudiandae quia laboriosam
        voluptatem facilis molestiae est, numquam harum maiores aperiam pariatur
        quis labore tempora.
      </p>
    </span>
  </div>
</div>
