.row{
    padding: 20px;
    margin: 0%;
}
div{

    text-align: center;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top:500px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        
        width: 70%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 33%;
        top:950px;
    }
}


#nombre{
    
    margin-top: 30%;
    font-size: larger;
}