<div class="row">
  <h1>Habilidades</h1>
  <div id="max">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="95"
              [radius]="90"
              [imageSrc]="'../assets/html.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="180"
              [imageWidth]="180"
            ></circle-progress>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="90"
              [radius]="90"
              [imageSrc]="'../assets/CSS.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="180"
              [imageWidth]="180"
            ></circle-progress>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="80"
              [radius]="90"
              [imageSrc]="'../assets/js.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="162"
              [imageWidth]="162"
            ></circle-progress>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="65"
              [radius]="90"
              [imageSrc]="'../assets/git.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="160"
              [imageWidth]="160"
            ></circle-progress>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="73"
              [radius]="90"
              [imageSrc]="'../assets/JAVA-logo.png'"
              [showImage]="true"
              [imageHeight]="90"
              [imageWidth]="90"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="160"
              [imageWidth]="160"
            ></circle-progress>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center col-sm-12 col-md-12 col-lg-12">
            <circle-progress
              [percent]="85"
              [radius]="90"
              [imageSrc]="'../assets/Angular-logo.png'"
              [showImage]="true"
              [imageHeight]="90"
              [imageWidth]="90"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="600"
              [imageHeight]="203"
              [imageWidth]="203"
            ></circle-progress>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
